{{#if isAuthenticated}}
  <h1>Bienvenido, {{user.username}}</h1>
  <a href="/tasks">Ver tareas</a>
  <a href="/logout">Cerrar sesión</a>
{{else}}
  <h1>Bienvenido</h1>
  <a href="/login">Iniciar sesión</a>
  <a href="/register">Registrarse</a>
{{/if}}
