<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        <h1>Registrarse</h1>
      </div>
      <div class="card-body">
        <form action="/register" method="post">
          <div class="form-group">
            <label for="username">Nombre de usuario:</label>
            <input type="text" name="username" value="{{username}}" required />
          </div>
          <label for="password">Contraseña:</label>
          <input
            type="password"
            name="password"
            value="{{password}}"
            required
          />

          <button class= "btn btn-primary btn-block">
            Registrarse
            </button>
        </form>
      </div>
    </div>
  </div>
</div>